# Programming with Python - Basic?

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

    web development (server-side),
    software development,
    mathematics,
    system scripting.

https://docs.python.org/3/italicized text

Language specs:  https://docs.python.org/3/reference/index.html

In [1]:
 print("Hello, World!")

Hello, World!

In [2]:
!python --version

Python 3.10.12

In [3]:
!pwd

/content

## Python Indentation

- Indentation refers to the spaces at the beginning of a code line.
- Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.
- Python uses indentation to indicate a block of code.

In [4]:
if 5 > 2:    # expression
  print("Five is greater than two!")

Five is greater than two!

In [42]:
# Indentation is important in python
if 5 > 2:
print("Five is greater than two!")

IndentationError: ignored

## python variables

In [6]:
# Python Variables
x =10
x

# comments

10

## Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

    Text Type: 	str
    Numeric Types: 	int, float, complex
    Sequence Types: 	list, tuple, range
    Mapping Type: 	dict
    Set Types: 	set, frozenset
    Boolean Type: 	bool
    Binary Types: 	bytes, bytearray, memoryview
    None Type: 	NoneType

## Operators

- Arithmetic Operators: +, - , / , *
- Assignment Operators:  =, += , -=
- Comparison Operators: == , <= , >= , < , > !=
- Logical Operators: and or not
- Identity Operators: is , is not
- Membership Operators: in not in

In [7]:
# mathmatical operations
a = 5
b = 10
sum = a + b
print(sum)

15

## Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

`'hello' is the same as "hello".`

You can display a string literal with the print() function:

In [8]:
print("Hello")
print('Hello')
# variable
hello = "Hello, welcome to the system"
hello

Hello
Hello

'Hello, welcome to the system'

In [9]:
# multiline string
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [10]:
# src: https://dailypakistan.com.pk/24-Aug-2022/1477636
news = """
धनुषाकी आरती साहको हत्याको न्यायिक छानबिन र दोषीमाथि कारबाहीको माग राखेर
गत असार १ देखि राजधानीको माइतीघरमा
धर्ना बसेका विनोद साहको परिवारले थुप्रै सास्ती खेप्नुपरेको छ ।
एकसरो लुगाबाहेक केही छैन । बिहान र बेलुका महाँकाल युवा समूहले खाना सहयोग
गरे पनि दिउँसो भोकै बस्छन् । धर्ना बसेदेखि नुहाउन पाएका छैनन् । उनी मात्रै होइन,
माइतीघरमा धर्ना बस्ने सबैको यस्तै हो । हुनेले पानी किनेर खान्छन्,
नहुनेहरू तिर्खाएरै बसेका छन् ।"""
print(news)

धनुषाकी आरती साहको हत्याको न्यायिक छानबिन र दोषीमाथि कारबाहीको माग राखेर
गत असार १ देखि राजधानीको माइतीघरमा
धर्ना बसेका विनोद साहको परिवारले थुप्रै सास्ती खेप्नुपरेको छ ।
एकसरो लुगाबाहेक केही छैन । बिहान र बेलुका महाँकाल युवा समूहले खाना सहयोग
गरे पनि दिउँसो भोकै बस्छन् । धर्ना बसेदेखि नुहाउन पाएका छैनन् । उनी मात्रै होइन,
माइतीघरमा धर्ना बस्ने सबैको यस्तै हो । हुनेले पानी किनेर खान्छन्,
नहुनेहरू तिर्खाएरै बसेका छन् ।

In [12]:
# string formating
age = 36
txt = "My name is John, I am " + str(age)
print(txt)

My name is John, I am 36

In [13]:
# using f string
# string formating
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [14]:
# use format()
#   Use the format() method to insert numbers into strings:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} rupees."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 rupees.

In [15]:
# fstring
age = 80
print(f"Your age is {age}")

Your age is 80

## conditionals
Python Conditions and If statements

    Equals: a == b
    Not Equals: a != b
    Less than: a < b
    Less than or equal to: a <= b
    Greater than: a > b
    Greater than or equal to: a >= b

In [16]:
# If statement:
a = 33
b = 200
if b > a:
    print("b is greater than a")


# The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")


#The else keyword catches anything which isn't caught by the preceding conditions.
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

# Short Hand If ... Else
#If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:
# One line if else statement:
a = 2
b = 330
print("A") if a > b else print("B")

b is greater than a
a and b are equal
a is greater than b
B

## loop: For Loop
- A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
- This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.
- With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [17]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

# Looping Through a String

#Even strings are iterable objects, they contain a sequence of characters:
# Loop through the letters in the word "banana":
for x in "banana":
    print(x)

apple
banana
cherry
b
a
n
a
n
a

## Python List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:
    
     thislist = ["apple", "banana", "cherry"]
List are
- ordered
- changable
- allow duplicates

In [18]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

x = ["apple", "banana", "cherry", "apple", "cherry"]
print(x)

# length of list
length = len(x)
length

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'apple', 'cherry']

5

In [19]:
# access by index
apple = fruits[0]
print(apple)

# Negative Indexing
a = fruits[-1] # starts from reverse order
print(a)

apple
cherry

In [20]:
# Range of Indexes
# Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])


# This example returns the items from the beginning to, but NOT including, "kiwi":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])


# This example returns the items from "cherry" to the end:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [21]:
# Check if Item Exists
# Check if "apple" is present in the list:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [22]:
# Change the second item:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [23]:
# Loop through the items

thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)


# Loop Through the Index Numbers
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry
apple
banana
cherry

In [24]:
# list comprehention: Looping Using List Comprehension
# A short hand for loop that will print all items in a list:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

### List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

     newlist = [expression for item in iterable if condition == True]
     
The return value is a new list, leaving the old list unchanged.

In [25]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [26]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

### list methods
    append()	Adds an element at the end of the list
    clear()	Removes all the elements from the list
    copy()	Returns a copy of the list
    count()	Returns the number of elements with the specified value
    extend()	Add the elements of a list (or any iterable), to the end of the current list
    index()	Returns the index of the first element with the specified value
    insert()	Adds an element at the specified position
    pop()	Removes the element at the specified position
    remove()	Removes the item with the specified value
    reverse()	Reverses the order of the list
    sort()	Sorts the list

In [27]:
# sorting the list
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

# copy
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

# join list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['apple', 'banana', 'cherry']
['a', 'b', 'c', 1, 2, 3]

## Tuples
- Tuples are used to store multiple items in a single variable.
- Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.
- A tuple is a collection which is ordered and unchangeable.
- Tuples are written with round brackets.

In [28]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

# allow duplicates
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'apple', 'cherry')

In [29]:
# You can access tuple items by referring to the index number, inside square brackets:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [30]:
# access via loop
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)


thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry
apple
banana
cherry

## Set

- Sets are used to store multiple items in a single variable.
- Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.
- A set is a collection which is unordered, unchangeable*, and unindexed.
- Note: Set items are unchangeable, but you can remove items and add new items.

In [31]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

In [32]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana

## Dictionaries

- Dictionaries are used to store data values in key:value pairs.
- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
- As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.
- Dictionaries are written with curly brackets, and have keys and values:

In [33]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [34]:
# Duplicate values will overwrite existing values:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

# length
print(len(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
3

In [ ]:
# String, int, boolean, and list data types:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
thisdict

## Python Functions

- A function is a block of code which only runs when it is called.
- You can pass data, known as parameters, into a function.
- A function can return data as a result.

In [35]:
#In Python a function is defined using the def keyword:

def my_function():
    print("Hello from a function")

In [ ]:
my_function()

In [36]:
#Arguments
# Information can be passed into functions as arguments.
# Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

## File handeling

Python has several functions for creating, reading, updating, and deleting files.
File Handling

The key function for working with files in Python is the open() function.
The open() function takes two parameters; filename, and mode.

There are four different methods (modes) for opening a file:

    "r" - Read - Default value. Opens a file for reading, error if the file does not exist
    "a" - Append - Opens a file for appending, creates the file if it does not exist
    "w" - Write - Opens a file for writing, creates the file if it does not exist
    "x" - Create - Creates the specified file, returns an error if the file exists

In addition you can specify if the file should be handled as binary or text mode

    "t" - Text - Default value. Text mode
    "b" - Binary - Binary mode (e.g. images)

Syntax

To open a file for reading it is enough to specify the name of the file:
`f = open("demofile.txt")`

The code above is the same as:
`f = open("demofile.txt", "rt")`

In [39]:
# crete file:
#    Open the file "demofile2.txt" and append content to the file:
f = open("demofile.txt", "a")
f.write("""धनुषाकी आरती साहको हत्याको न्यायिक छानबिन र दोषीमाथि कारबाहीको माग राखेर
गत असार १ देखि राजधानीको माइतीघरमा
धर्ना बसेका विनोद साहको परिवारले थुप्रै सास्ती खेप्नुपरेको छ ।
एकसरो लुगाबाहेक केही छैन । बिहान र बेलुका महाँकाल युवा समूहले खाना सहयोग
गरे पनि दिउँसो भोकै बस्छन् । धर्ना बसेदेखि नुहाउन पाएका छैनन् । उनी मात्रै होइन,
माइतीघरमा धर्ना बस्ने सबैको यस्तै हो । हुनेले पानी किनेर खान्छन्,
नहुनेहरू तिर्खाएरै बसेका छन् ।""")
f.close()
# read file

f = open("demofile.txt", "r")
print(f.read())

print("-"*10)
# Return the 5 first characters of the file:
f = open("demofile.txt", "r")
print(f.read(5))
print("-"*10)
# read line
f = open("demofile.txt", "r")
print(f.readline())
print("-"*10)

# Loop through the file line by line:
f = open("demofile.txt", "r")
for x in f:
    print(x)
print("-"*10)

# Close the file when you are finish with it:
f = open("demofile.txt", "r")
print(f.readline())
f.close()

धनुषाकी आरती साहको हत्याको न्यायिक छानबिन र दोषीमाथि कारबाहीको माग राखेर
गत असार १ देखि राजधानीको माइतीघरमा
धर्ना बसेका विनोद साहको परिवारले थुप्रै सास्ती खेप्नुपरेको छ ।
एकसरो लुगाबाहेक केही छैन । बिहान र बेलुका महाँकाल युवा समूहले खाना सहयोग
गरे पनि दिउँसो भोकै बस्छन् । धर्ना बसेदेखि नुहाउन पाएका छैनन् । उनी मात्रै होइन,
माइतीघरमा धर्ना बस्ने सबैको यस्तै हो । हुनेले पानी किनेर खान्छन्,
नहुनेहरू तिर्खाएरै बसेका छन् ।धनुषाकी आरती साहको हत्याको न्यायिक छानबिन र दोषीमाथि कारबाहीको माग राखेर
गत असार १ देखि राजधानीको माइतीघरमा
धर्ना बसेका विनोद साहको परिवारले थुप्रै सास्ती खेप्नुपरेको छ ।
एकसरो लुगाबाहेक केही छैन । बिहान र बेलुका महाँकाल युवा समूहले खाना सहयोग
गरे पनि दिउँसो भोकै बस्छन् । धर्ना बसेदेखि नुहाउन पाएका छैनन् । उनी मात्रै होइन,
माइतीघरमा धर्ना बस्ने सबैको यस्तै हो । हुनेले पानी किनेर खान्छन्,
नहुनेहरू तिर्खाएरै बसेका छन् ।
----------
धनुषा
----------
धनुषाकी आरती साहको हत्याको न्यायिक छानबिन र दोषीमाथि कारबाहीको माग राखेर

----------
धनुषाकी आरती साहको हत्याको न्यायिक छानबिन र दोषीमाथि कारबाहीको माग राखेर

गत असार १ देखि राजधानीको माइतीघरमा

धर्ना बसेका विनोद साहको परिवारले थुप्रै सास्ती खेप्नुपरेको छ ।

एकसरो लुगाबाहेक केही छैन । बिहान र बेलुका महाँकाल युवा समूहले खाना सहयोग

गरे पनि दिउँसो भोकै बस्छन् । धर्ना बसेदेखि नुहाउन पाएका छैनन् । उनी मात्रै होइन,

माइतीघरमा धर्ना बस्ने सबैको यस्तै हो । हुनेले पानी किनेर खान्छन्,

नहुनेहरू तिर्खाएरै बसेका छन् ।धनुषाकी आरती साहको हत्याको न्यायिक छानबिन र दोषीमाथि कारबाहीको माग राखेर

गत असार १ देखि राजधानीको माइतीघरमा

धर्ना बसेका विनोद साहको परिवारले थुप्रै सास्ती खेप्नुपरेको छ ।

एकसरो लुगाबाहेक केही छैन । बिहान र बेलुका महाँकाल युवा समूहले खाना सहयोग

गरे पनि दिउँसो भोकै बस्छन् । धर्ना बसेदेखि नुहाउन पाएका छैनन् । उनी मात्रै होइन,

माइतीघरमा धर्ना बस्ने सबैको यस्तै हो । हुनेले पानी किनेर खान्छन्,

नहुनेहरू तिर्खाएरै बसेका छन् ।
----------
धनुषाकी आरती साहको हत्याको न्यायिक छानबिन र दोषीमाथि कारबाहीको माग राखेर

In [40]:
# crete file:
#    Open the file "demofile2.txt" and append content to the file:
f = open("demofile2.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("demofile2.txt", "r")
print(f.read())

Now the file has more content!

In [41]:
# remove file: Remove the file "demofile.txt":
import os
os.remove("demofile.txt")